body {
    background-color: #000000;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

.parent {
    background: #311b92;
    padding: 5px;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 45px;
  }
  
  .main {
    background: #4527a0;
    color: #000000;
  }
  .sidebar {
    background: #7c4dff;
  }
  
  @media only screen and (min-width: 641px){
    .parent {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 1025px){
    .parent {
      grid-template-columns: 2fr 1fr;
    }
  }